In [2]:
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

## Race

In [3]:
# import the sheet with the information on anti-race offenses

race = pd.read_excel('Table1_v2_2019.xls', sheet_name=6)

race

,Race,Incidents,Offenses,Victims1,Known\noffenders2
0,Anti-White,666,755,775,645
1,Anti-Black or African American,1930,2314,2391,1682
2,Anti-American Indian or Alaska Native,119,126,135,101
3,Anti-Asian,158,205,215,153
4,Anti-Native Hawaiian or Other Pacific Islander,21,25,26,26
5,"Anti-Multiple Races, Group",134,171,173,82
6,Anti-Arab,95,122,126,86
7,Anti-Hispanic or Latino,527,676,693,547
8,Anti-Other Race/Ethnicity/Ancestry,313,390,396,228
9,Total,3963,4784,4930,3550
10,Single Bias Incidents,7103,8302,8552,6268

In [4]:
race.columns

Index(['Race', 'Incidents', 'Offenses', 'Victims1', 'Known\noffenders2'], dtype='object')

In [5]:
# Reassign column names

race.rename(columns={'Victims1':'Victims', 'Known\noffenders2':'Known_Offenders'}, inplace=True)

race.columns

Index(['Race', 'Incidents', 'Offenses', 'Victims', 'Known_Offenders'], dtype='object')

In [6]:
race

,Race,Incidents,Offenses,Victims,Known_Offenders
0,Anti-White,666,755,775,645
1,Anti-Black or African American,1930,2314,2391,1682
2,Anti-American Indian or Alaska Native,119,126,135,101
3,Anti-Asian,158,205,215,153
4,Anti-Native Hawaiian or Other Pacific Islander,21,25,26,26
5,"Anti-Multiple Races, Group",134,171,173,82
6,Anti-Arab,95,122,126,86
7,Anti-Hispanic or Latino,527,676,693,547
8,Anti-Other Race/Ethnicity/Ancestry,313,390,396,228
9,Total,3963,4784,4930,3550
10,Single Bias Incidents,7103,8302,8552,6268

In [8]:
# export the edited dataframe

race.to_csv('race.csv', index=False)

## Religion

In [3]:
# import the sheet with information about anti-religion offenses.

religion = pd.read_excel('Table1_v2.xls', sheet_name=5)

religion

,Religion,Incidents,Offenses,Victims1,Known\noffenders2
0,Anti-Jewish,953,995,1032,602
1,Anti-Catholic,64,66,66,42
2,Anti-Protestant,24,24,24,19
3,Anti-Islamic (Muslim),176,219,227,145
4,Anti-Other Religion,88,108,108,56
5,"Anti-Multiple Religions, Group",37,42,44,26
6,Anti-Mormon,12,14,15,8
7,Anti-Jehovah's Witness,7,7,7,7
8,"Anti-Eastern Orthodox (Russian, Greek, Other)",44,47,49,34
9,Anti-Other Christian,49,60,65,23
10,Anti-Buddhist,5,5,5,5
11,Anti-Hindu,7,7,7,4
12,Anti-Sikh,49,50,60,36
13,Anti-Atheism/Agnosticism/etc.,6,6,6,5
14,Total,1521,1650,1715,1012

In [4]:
religion.columns

Index(['Religion', 'Incidents', 'Offenses', 'Victims1', 'Known\noffenders2'], dtype='object')

In [5]:
# Reassign column names

religion.rename(columns={'Victims1':'Victims', 'Known\noffenders2':'Known_Offenders'}, inplace=True)

religion.columns

Index(['Religion', 'Incidents', 'Offenses', 'Victims', 'Known_Offenders'], dtype='object')

In [6]:
religion

,Religion,Incidents,Offenses,Victims,Known_Offenders
0,Anti-Jewish,953,995,1032,602
1,Anti-Catholic,64,66,66,42
2,Anti-Protestant,24,24,24,19
3,Anti-Islamic (Muslim),176,219,227,145
4,Anti-Other Religion,88,108,108,56
5,"Anti-Multiple Religions, Group",37,42,44,26
6,Anti-Mormon,12,14,15,8
7,Anti-Jehovah's Witness,7,7,7,7
8,"Anti-Eastern Orthodox (Russian, Greek, Other)",44,47,49,34
9,Anti-Other Christian,49,60,65,23
10,Anti-Buddhist,5,5,5,5
11,Anti-Hindu,7,7,7,4
12,Anti-Sikh,49,50,60,36
13,Anti-Atheism/Agnosticism/etc.,6,6,6,5
14,Total,1521,1650,1715,1012

In [7]:
# export the edited dataframe

religion.to_csv('religion.csv', index=False)